body{
    background-color: rgb(246, 249, 255);
}
#LOGO{
    width:50%;
    border-radius: 15px;
}
#home{
    width: 25%;
}

.button-singin{
    color: purple;
    border: 2px solid purple;
}
.button-singin:hover{
    background-color: purple;
    color: aliceblue;
}
#btn_sub{
    color: aliceblue;
    background-color: purple;
    border: 2px solid purple;
}
#bord{
    width: 440px;
    height: 40px;
    border:none;
    border-radius: 4px;
    padding: 0 15px;
    font-size: 14px;
    outline: none;
    box-shadow: 0px 10px 50px rgb(48 98 145 / 8%);
}
.nav-link{
    color: blueviolet;
}
#banner1{
    width: 100%;
    background-size: cover;
}
#quote{
    font-size: 350%;
}
#banner1{
    mix-blend-mode: darken;
}

#feat{
    color: blueviolet;
    text-align: center;
    font-size: 18px;
    margin-bottom: 50px;
}
#meet{
        font-size: 32px;
        line-height: 1.83;
        letter-spacing: -1.5px;
        text-align: center;
        margin-bottom: 50px;
    }
.card-body{
    text-align: center;
    margin-bottom: 50px;
}

.card{
    border: none;
}
#rocket{
    width: 100%;
}
#boost{
    font-size: 32px;
    letter-spacing: -0.5px;
    padding-top: 70px;
}
#dsc{
    font-size: 17px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
#list li {
    font-size: 18px;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    margin: 30px;
}
#learn{
    padding-left: 4px;
    margin-top: 10px;    
    font-size: 16px;
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    cursor: pointer;
    -webkit-text-decoration: none;
    text-decoration: none;
    color: var(--theme-ui-colors-primary);
    font-size: 14px;
    display: inline-block;
    vertical-align: middle;
    font-weight: 700;
}
