body{
    background-color: rgb(246, 249, 255);
}
#LOGO{
    width:50%;
    border-radius: 15px;
}
#home{
    width: 25%;
}

.button-singin{
    color: purple;
    border: 2px solid purple;
}
.button-singin:hover{
    background-color: purple;
    color: aliceblue;
}
.nav-link{
    color: blueviolet;
}
#banner1{
    width: 100%;
    background-size: cover;
}
#quote{
    font-size: 350%;
}